$primary_1: #0b090a;
$primary_2: #161a1d;
$primary_3: #660708;
$primary_4: #a4161a;
$primary_5: #ba181b;
$primary_6: #e5383b;
$primary_7: #b1a7a6;
$primary_8: #d3d3d3;
$primary_9: #f5f3f4;

body {
  margin: 0px;
  font-family: "Roboto Flex", sans-serif;
}
